@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');



.hero {
    /* background: url(img/genshin.jpg); */
    background-color: rgb(212, 229, 255);

    object-fit: contain;
    width: 100%;
    display: flex;
    align-items: center;
}

.letter {

    height: auto;
    width: 60%;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 210, 220, 0.514);
    border-radius: 10px;
    font-family: Merienda;
    font-size: 14px;

}

.letter_text {
    color: black;
}


.song {
    text-align: center;
}

.song a {
    text-decoration: none;
    color: white;
    background-color: #93a7e9;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: sans-serif;
    border-radius: 20px;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* font-family: 'Amatic SC', cursive; */
  }


@media screen and (max-width: 992px) {
    .letter {
        width: 80%;
      font-size: 11px;
    }
  }

@media screen and (max-width: 600px) {
    .letter {
        width: 100%;
      font-size: 9px;
    }
  }
